/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2018, 4:54:35 PM
    Author     : Joshu
*/

.hljs{display:block;overflow-x:auto;padding:0.5em;background:#F0F0F0}
.hljs,
.hljs-subst{color:#444}
.hljs-comment{color: gray}
.hljs-keyword{color: green; font-weight: normal}
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name{font-weight:bold}
.hljs-type,
.hljs-string{color: blue}
.hljs-number{color: teal}
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion{color:#880000}
.hljs-title,
.hljs-section{color:#880000;font-weight:bold}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo{color:#BC6060}
.hljs-literal{font-weight: normal; color: darkblue}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition{color:#397300}
.hljs-meta{color:#1f7199}
.hljs-meta-string{color:#4d99bf}
.hljs-emphasis{font-style:italic}
.hljs-strong{font-weight:bold}